/* Stylesheet for BLUE Bookstore */

html {
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	color: #000;
	background-color: #FFF;
}

p {
	font-size: 1.07rem;
	color: #387FD4;
	max-width: 50rem;
	margin-top: 0;
}

h1 {
	color: #132B47;
}

h2 {
	color: #1D426E;
}

h3 {
	color: #245187;
}

h4 {
	color: #245187;
	margin-bottom: 0;
}

h5 {
	color: #9e9e9e;
}

a:link {
	color: black;
}

a:visited {
	color: #A0A4A8;
}

a:hover, a:focus, a:active {
	color: #132B47;
}

ol li {
	font-size: 1.07rem;
	color: #387FD4;
	max-width: 50rem;
}

ul li {
	font-size: 1.07rem;
	color: #387FD4;
	max-width: 50rem;
	list-style-type: square;
}

form {
	font-size: 0.7rem;
}

form label {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	color: #245187;
	display: block;
	margin-top: 1rem;
}

form input, form textarea {
	font-family: 'Roboto', sans-serif;
	font-size: 0.7rem;
	color: #000;
	margin-top: 1rem;
}

#form-submit {
	display: block;
}


