/* Stylesheet for BLUE Bookstore */

html {
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	color: #000;
	background-color: #FFF;
}

.centralize {
	width: 100%;
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
}

img {
	height: auto;
	width: auto;
	border: 0;
	max-width: 100%;
}

p {
	font-size: 1.07rem;
	color: #387FD4;
	max-width: 50rem;
	margin-top: 0;
}

h1 {
	color: #132B47;
}

h2 {
	color: #1D426E;
}

h3 {
	color: #245187;
}

h4 {
	color: #245187;
	margin-bottom: 0;
}

h5 {
	color: #9e9e9e;
}

#BLUE_Logo {
	padding: 0rem;
	display: inline-block;
}

nav a {
	display: inline-block;
	background-color: blue;
	color: #FFFFFF;
	padding: 1rem 1.25rem;
	text-decoration: none;
	text-align: center;
	float: left;
	width: 100%;
}

nav a.tab {
	background-color: #245187;
}

nav a:link, a:visited, a:hover, a:focus, a:active {
	color: #FFF;
}

#profile {
	display: inline-block;
	float: right;
}

#profile a {
	font-size: 0.75rem;
	color: blue;
}

/*
ol li {
	font-size: 1.07rem;
	color: #387FD4;
	max-width: 50rem;
}

ul li {
	font-size: 1.07rem;
	color: #387FD4;
	max-width: 50rem;
	list-style-type: square;
}*/

#search {
	font-size: 0.7rem;
	display: inline-block;
	float: right;
	margin-top: 2rem;
	margin-right: 0;
}

form label {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	color: #245187;
	display: inline-block;
	margin-top: 1rem;
}

form input, form textarea {
	font-family: 'Roboto', sans-serif;
	font-size: 1.25rem;
	color: #000;
	/*margin-top: 1rem;*/
	width: 15rem;
	height: 2rem;
}

#form-submit {
	display: block;
}

footer {
	clear: both;
	width: 100%;
	height: 4rem;
	padding: 1rem 0 0.2rem 0;
	background-color: #245187;
	margin-bottom: 1rem;
	text-align: center;

}

footer a, p{
	font-size: 0.75rem;
	margin-right: 1rem;
	margin-right: auto;
	margin-left: auto;
}
